# General Settings
ENVIRONMENT=production
LOG_LEVEL=INFO

# Storage Backend Choice: "gcs" or "minio"
STORAGE_BACKEND=gcs

# GCP Settings
GCP_PROJECT_ID=distributed-rag-gcp
GCS_BUCKET_NAME=distributed-rag-raw-documents

# MinIO Settings (for local dev)
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_BUCKET_NAME=raw-documents

# Kafka Settings
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_DOCUMENT_UPLOADED=document-uploaded
KAFKA_TOPIC_DLQ=document-dlq
KAFKA_CONSUMER_GROUP_ID=rag-worker-group

# Qdrant Vector DB
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=rag_documents
QDRANT_VECTOR_SIZE=384

# Model & Chunking
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
CHUNK_SIZE=500
CHUNK_OVERLAP=50
